/* CSS untuk styling formulir tambah data biaya */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:focus {
    outline: none;
}

button[type="submit"]:active {
    background-color: #3e8e41;
} */
#delete-product {
    background-color: #ff0000; /* Warna merah */
    color: #ffffff; /* Warna teks putih */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#delete-product:hover {
    background-color: #cc0000; /* Warna merah yang sedikit lebih gelap saat dihover */
}
#submit-button{
    background-color: #4caf50; /* Warna merah */
    color: #ffffff; /* Warna teks putih */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#submit-button:hover {
    background-color: #45a049; /* Warna merah yang sedikit lebih gelap saat dihover */
}
